extends ../index.pug

block title
    title="Verkauf Title"

block navigation
    nav
        div(class='menu-entry menu-selected')
            a(href='' class='menu-link')
                span(class='menu-text')="Verkauf"
        div(class='menu-entry')
            a(href='' class='menu-link')
                span(class='menu-text')="Ankauf"
        div(class='menu-entry')
            a(href='' class='menu-link')
                span(class='menu-text')="Kontakt"

block content
    div(class="container")
        header(class="title")
            h1="Verkauf"
        section="Verkauf Content"
